<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Core.Client" version="1.0.3838" targetFramework="net452" />
  <package id="CitizenFX.Core.Server" version="1.0.3360" targetFramework="net452" />
  <package id="MenuAPI.FiveM" version="3.2.0" targetFramework="net452" />
</packages>