\[PoliceResources\]
PoliceMP
\[MiscResources\]/els-plus/elsplus
\[MiscResources\]/els-plus/elsplus
\[sonorancad\]/sonorancad/node_modules/*
lfs
\[EscrowedFiles\]/visn_are/.vs/slnx.sqlite
\[EscrowedFiles\]/visn_are/.vs/visn_are/FileContentIndex/6696e613-67a0-4391-bc17-a416a56a557d.vsidx
\[EscrowedFiles\]/visn_are/.vs/visn_are/v17/.wsuo
\[EscrowedFiles\]/visn_are/.vs/VSWorkspaceState.json
\[EscrowedFiles\]/visn_are/.vs/visn_are/FileContentIndex/a4e674fc-f1a9-4890-82c2-154c9ca8e9b8.vsidx
\[sonorancad\]/sonorancad/plugins/.github/workflows/main.yml
\[sonorancad\]/sonorancad/plugins/.github/workflows/main.yml
