.prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: var(--white);

    .prompt-contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--degrade-radial-noir);
        padding: 1.4vw;
        border-radius: 0.4vw;
        color: var(--white-50);
        font-size: 0.7vw;
        border: solid 0.1vw var(--white-30);

        .desc {
            text-align: center;
            width: 90%;
            margin-bottom: 1.5vw;
            font-weight: 300;
        }

        h1 {
            color: var(--white);
            font-size: 1.3vw;
            margin-bottom: 0.2vw;
            font-weight: 600;
        }

        b {
            color: var(--white);
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8vw;

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                color: var(--white-50);
                font-size: 0.8vw;
                gap: 0.1vw;
                padding: 0.6vw 2vw;
                border-radius: 0.2vw;
                cursor: pointer;

                &:hover {
                    filter: brightness(0.8);
                    transition: filter .3s;
                }

                b {
                    font-size: 0.8vw;
                    color: var(--white);
                }
            }

            .refuse {
                background: var(--grey);
            }

            .accept {
                color: var(--white);
                background: var(--green);
            }

        }
    }
}



.w,
.s {
    color: var(--white);
}

.u {
    color: #000000;
}

.r {
    color: rgba(224, 50, 50, 1);
}

.g {
    color: rgba(114, 204, 114, 1);
}

.b {
    color: rgba(32, 196, 251, 1);
}

.f {
    color: rgba(32, 196, 251, 1);
}

.y {
    color: rgba(240, 200, 80, 1);
}

.c {
    color: rgba(140, 140, 140, 1);
}

.t {
    color: rgba(140, 140, 140, 1);
}

.o {
    color: rgba(255, 133, 85, 1);
}

.p {
    color: rgba(159, 0, 170, 1);
}

.q {
    color: rgba(203, 54, 148, 1);
}

.m {
    color: rgba(100, 100, 100, 1);
}

.l {
    color: rgba(0, 0, 0, 1);
}

.d {
    color: rgba(47, 92, 115, 1);
}

.w {
    color: var(--white);
}

.h {
    font-weight: 600;
}