body {
  background: none !important;
}

:root{
  --color-red: #ca2f2f;
}

@font-face {
  font-family: digital;
  src: url(digital-7.ttf);
}

#container {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 350px;
  background-size: cover;
  flex-direction: column;
}

.buttonContainer {
  position: absolute;
  top: 5%;  
  right: 50%;   
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

button {
  width: 75px; /* Same width and height for a circular button */
  height: 75px;
  padding: 0; /* Adjust padding to zero for symmetry */
  font-weight: 800;
  font-size: 14px;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer; /* Pointer cursor for better UX */
  border: none; /* Removes the border */
  background: transparent; /* Transparent background */
  color: transparent; /* Transparent text as a fallback */
  
}

#bacLevel {
  white-space: pre-wrap; /* Preserves line breaks and spaces */
  font-family: digital;  /* Keep the digital font styling */
  font-size: 25px;       /* Font size */
  font-weight: bold;     /* Bold text */
  color: var(--color-red); /* Default color */
  text-align: center;      /* Center-align the text */
  position: relative;      /* Allows fine adjustments with top/left */
  letter-spacing: -6px;  /* Adjust character spacing (reduce gap) */
  line-height: 1.02;        /* Adjust vertical spacing (reduce gap between lines) */
  top: 4px;               /* Move text lower (adjust value as needed) */
  left: 36px;              /* Move text to the right (adjust value as needed) */
}

.invisible {
  color: transparent; /* Makes the character invisible */
}

.green{
  background: #54bf5400;
}

.green:hover{
  background: #469e4600;
}

.green:active{
  background: #367a3600;
}

.red{
  background: #ca2f2f00;
}

.red:hover{
  background: #bb2b2b00;
}

.red:active{
  background: #a7262600;
}

.screen{
  position: absolute;
  top: 10px;
  left: 175px;
  display: flex;
  flex-direction: column;
}

.middle{
  font-family: digital;
  font-size: 25px;
  font-weight: 50;
  height: 50px;
  margin: 0px;
}

.image{
  background-image: url('./drugalyser.png');
  margin-left: 38px;
  width: 700px;
  height: 600px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -100;
}