# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "51.77.103.25:30120"
endpoint_add_udp "51.77.103.25:30120"

sv_hostname "^4[UK]^0 [Developer-Build] PoliceMP ^4|^3|^5|^0 LSPDFR Multiplayer ^4|^3|^5|^0 Police vs AI ^4|^3|^5|^0 PoliceMP.com 🚓"
sets sv_projectName "🛠️ DEV - PoliceMP"

# server slots limit (must be between 1 and 31)
# 64 for build 8 for testing (no need for key switching with 8)
sv_maxclients 8

# license key for server (https://keymaster.fivem.net)
sv_licensekey "cfxk_1HIlY9Tf1F9H9G3Tm4iOL_Vp42m"

sets sv_projectDesc "DEV - PoliceMP ★ To find out more visit discord.gg/PoliceMP ★"

sets tags "roleplay, rp, police, jobs, custom, serious, serious rp, lspd, cops, custom scripts, fun"

sets activitypubFeed "PoliceMP@mastodon.social"

sv_tebexSecret d365f7e8b42125458813b0ed2e5bfc864e3216d7

#sv_master1 ""

############################################
#           FEATURE FLAGS
############################################

setr feature_infinite_fuel false
setr feature_sonoran_main false
setr feature_sonoran_prodono false
setr feature_sonoran_dev true
setr feature_allow_customCharClothing true
setr feature_allowBlips true
setr feature_allowMediaWeatherChange true
setr feature_aicallouts true

exec server.cfg

ensure [LS]
ensure [ZeaScripts]
ensure [mapping]
ensure [roxwood]
ensure [AMBITIONERS]
ensure [rags-riches]
ensure [pressurewasher]
ensure [themepark]
ensure [GATE]

