# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#set sv_forceIndirectListing true
##set sv_listingHostOverride "play.policemp.com"
set sv_listingIpOverride "54.36.227.25:30120"
set sv_endpoints "54.36.227.25"
net_tcpConnLimit 100000

sv_hostname "PMP"
sets sv_projectName "PMP"

# license key for server (https://keymaster.fivem.net)
sv_licensekey "cfxk_P7DJ8EzV9WeMmXUoNt8u_3uq8ng"

sets sv_projectDesc "British Multiplayer LSPDFR ★ MET,LFB & LAS ★ 4k Textures ★ Custom Scripts ★ "

sets tags "roleplay, rp, police, jobs, custom, serious, serious rp, lspd, cops, custom scripts, fun"

sets activitypubFeed @PoliceMP@mastodon.social

sv_tebexSecret d365f7e8b42125458813b0ed2e5bfc864e3216d7

#sv_master1 ""

sv_maxclients 256

#set sv_requestParanoia 3
sv_endpointprivacy true
#sv_authMinTrust 4

############################################
#           FEATURE FLAGS
############################################

setr feature_infinite_fuel false
setr feature_sonoran_main true
setr feature_sonoran_prodono false
setr feature_sonoran_dev false
setr feature_allow_customCharClothing true
setr feature_allowBlips true
setr feature_allowMediaWeatherChange false
setr feature_aicallouts true

#Test txadmin port
set txAdminPort 40120

exec server.cfg

ensure [LS]
ensure [ZeaScripts]
ensure [mapping]
ensure [roxwood]
ensure [rags-riches]
ensure [AMBITIONERS]
ensure openallinteriors
ensure [pressurewasher]
ensure [themepark]
ensure [GATE]


