# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sets sv_hostname "Development Server"

# server slots limit (must be between 1 and 31)
# 64 for build 8 for testing (no need for key switching with 8)
sv_maxclients 8

# license key for server (https://keymaster.fivem.net)
sv_licensekey "cfxk_1HIlY9Tf1F9H9G3Tm4iOL_Vp42m"

sv_master ""

############################################
#           FEATURE FLAGS
############################################

setr feature_infinite_fuel false
setr feature_infinite_fuel false
setr feature_sonoran_main false
setr feature_sonoran_prodono false
setr feature_sonoran_dev false
setr feature_allow_customCharClothing true
setr feature_allowBlips true
setr feature_allowMediaWeatherChange true
setr feature_aicallouts true

exec server.cfg

ensure [LS]
ensure [ZeaScripts]
ensure [mapping]
ensure [roxwood]
ensure [AMBITIONERS]
ensure [rags-riches]
ensure [pressurewasher]
ensure [themepark]
ensure [GATE]



