setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_enableSubmix 1
setr voice_enablePhones 0
setr voice_enableRadioAnim 1

start oxmysql
set mysql_connection_string "user=pmp-dbuser;password=urAjFfezd6Qohpt2cHxZ;host=pp870151-001.eu.clouddb.ovh.net;port=35938;database=pmp-maindb;charset=utf8mb4_general_ci"

set steam_webApiKey "A65B4501E453A9AF0E36F7A7FA06F32D"

##########################################################################################
#
# GTA Version
#
##########################################################################################
set sv_enforceGameBuild 3095
exec PoliceMP_perms.cfg

##########################################################################################
#
# LOADING SCREEN
#
##########################################################################################
start PoliceMPLoadingScreen

##########################################################################################
#
# DEFAULT STARTS FROM FIVEM
#
##########################################################################################
ensure webpack
ensure yarn
start mysql-async
start mapmanager
ensure chat
start sessionmanager
start hardcap
start rconlog
#start playernames
start baseevents

ensure [Sounds]
ensure [albo]

start SSAT
start RageUI
start Server-Sided-Sounds-and-Sirens-main

##########################################################################################
#
# EUP
#
##########################################################################################

start pmp_fullclothing
start mp2023_02

##########################################################################################
#
# START MISC RESOURCES
# [MiscResources]
##########################################################################################
ensure fivem-appearance
start r_extrication
start alca_medic_pack
start TPMEmoteProps
start emotes
start XNLRankBar
start mdx_Spithood
start Radargun
start SoundPlayer
start Dashcam
start HeliCam
start HouseAssist
start NativeUI-lua
start NoSeatShuffle
start playerblips
start Camera
start PoliceMPSound
start interactsoundls
start BELS
start NativeUI2
start NewsTeam
start NativeUI
start SmartLaser
start HeliWinch
start inferno-tic
start SepuraRadio
start MedicProps
start evidence_bag
start OG_mdx_CoverSheet
start OGDragFromVehicle
start econic
start zTriage
start z9m-Ladder
start z105m-Ladder
start z135m-Ladder
start zTurnout-System
## start rcpaxoncamera
start PublicOrderShields
start scully_sling
## start kq_detective
## start kq_wheeldamage
## start kq_realoffroad
## start InteractSound
ensure UKnames
start PoliceMP.Blood
ensure warrantCard
start inferno-ladders-reborn
start ox_lib
ensure Elevator
start DiscordAPI
start DiscordAcePerms
start character-creator
start r_pepperspray
start r_scba
start spikescript
start zPump
start xHair_FemaleV1
start xHair_MaleV1
start tcas
##start liftscript
start PoliceMP_Map
start kq_tractioncontrol
start discord-screenshot
start screenshot-basic
start BetterTaser
start fivem-realisticvehicle
start emotes
start FiveM-Brick
start CameraTech
start interact-sound
start SpeedCameras
start CamStealth
start OG_Lib
start OG_MOE
start BNTMatrixBoard

##########################################################################################
#
# START CUSTOM RESOURCES
#
##########################################################################################

ensure [smallp]
ensure [BodyCam]
ensure [TebexCars]

##########################################################################################
#
# START MAP RESOURCES
#
##########################################################################################

ensure pma-voice

##########################################################################################
#
# START POLICEMP NEW WORLD
#
##########################################################################################
ensure PoliceMP
ensure PoliceMP.Addons
#ensure PoliceMP.Callouts
#ensure PoliceMP.Computer
ensure PoliceMP.Main

ensure MedicKit
start visn_are

##########################################################################################
#
# START SONORANCAD
#
##########################################################################################
ensure bulletin
ensure nearest-postal
ensure sonorancad
ensure tablet
ensure sonoran_idcard
ensure sonoran_livemap
#ensure sonoranradio
#ensure sonoranradio_updatehelper

##########################################################################################
#
# START WEAPONS
#
##########################################################################################

ensure MM_FM-WeaponIcons
ensure pobaton
ensure Recip_Saw
ensure Huskyvara
ensure lfb_spreaders
ensure EmgHammer
ensure WEAPON_cutters
ensure halligan
ensure SpeedCuffs
ensure devgunsmenu
ensure mp5
ensure MP5SD_addon
ensure AirsoftAK47
ensure AirsoftG36C
ensure AirsoftGlock20
ensure AirsoftMicroUzi
ensure mdx_Sig716
ensure mdx_SigMCX
ensure r_megaphone
ensure flamethrower

##########################################################################################
#
# START ASSETS FOR THE REPLACE MODS AND THE ADD MODS
# MUST BE AT BOTTOM OF SERVER CFG!!!!
#
##########################################################################################
ensure [NEWPMPGARAGE]
ensure PoliceMPAssets
ensure PoliceMPGTACfg

##########################################################################################
#
# SERVER CONFIGS
#
##########################################################################################

sv_scriptHookAllowed 0

# change this
rcon_password "$kudY3RfuDd123"

#sets sv_projectDesc "British Multiplayer LSPDFR ★ MET,LFB & LAS ★ 4k Textures ★ Custom Scripts ★ discord.gg/PoliceMP "

sets tags "roleplay, rp, police, jobs, custom, serious, serious rp, lspd, cops, custom scripts, fun"
sets locale "en-GB"

# Set via TX
#set onesync on
#set onesync_workaround763185 true
#set onesync_distanceCullVehicles true
#set onesync_forceMigration true

# Experimental to fix vehicle enter issue
#set onesync_automaticResend true
#set onesync_radiusFrequency true
#set onesync_population true

# nested configs!
#exec server_internal.cfg

#set sv_requestParanoia 3
#sv_endpointprivacy true
#sv_forceIndirectListing true
#sv_useDirectListing true
#sv_authMinTrust 4

# loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# convars for use from script
set temp_convar "hey world!"

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5
set steam_webApiKey "645A77B8C2C31683937516ABA8011FB4"

sets activitypubFeed @PoliceMP@mastodon.social

#Custom Char Menu
setr fivem-appearance:customization 1
setr fivem-appearance:locale "en"

#Set Seat Belt Fly through windscreen
setr game_enableFlyThroughWindscreen true

#Discord perms
# remove the # to hide player endpoints in external log output
#sv_endpointprivacy true
add_ace resource.DiscordAcePerms command.add_principal allow
add_ace resource.DiscordAcePerms command.remove_principal allow

# license key for server (https://keymaster.fivem.net)
# Supplied in server.{env}.cfg file
# sv_licensekey ""

#Sonoran Cad perms
add_ace resource.sonorancad command allow
add_ace resource.sonoran_updatehelper command allow