# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "51.75.172.150:30120"
endpoint_add_udp "51.75.172.150:30120"


sv_hostname "^4[UK]^0 [Early-Access] PMP ^4|^3|^5|^0 LSPDFR Multiplayer ^4|^3|^5|^0 Police vs AI ^4|^3|^5|^0 🚓"
sets sv_projectName "⭐ EA PMP"

# server slots limit (must be between 1 and 31)
# 64 for build 8 for testing (no need for key switching with 8)
sv_maxclients 64
#sv_master1 ""

# license key for server (https://keymaster.fivem.net)
sv_licensekey "cfxk_cws434NR3w1OEW72Fizw_3QgvEH"

sv_tebexSecret d365f7e8b42125458813b0ed2e5bfc864e3216d7

sets sv_projectDesc "★ Exclusive Police Subscriber Access ★ Welcome to PMP EA Server ★ "

############################################
#           FEATURE FLAGS
############################################

setr feature_infinite_fuel false
setr feature_sonoran_main false
setr feature_sonoran_prodono true
setr feature_sonoran_dev false
setr feature_allow_customCharClothing true
setr feature_allowBlips true
setr feature_allowMediaWeatherChange true
setr feature_aicallouts true

exec server.cfg
ensure [AMBITIONERS]
ensure openallinteriors
ensure [LS]

## For Digital Team
ensure DigitalTools